/*  */
#el17 {
position:absolute;
left:356;
top:172;
width:481;
height:55;
font-size:29;
letter-spacing:-1.2;
line-height:55px;
color:#3C3D41;
opacity:1.00;
text-align:center;
white-space:pre-line;
font-family:'Cabin';
font-weight:300
}
